<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Hive/HDFS HDP 2.4 Twitter Search</title>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.22/angular.js"></script>	
  <link href="./dist/css/ng-atp.css" rel="stylesheet">
  <link href="data.css" rel="stylesheet">  
</head>
<body ng-app="myApp"> 
<div ng-controller="MyCtrl" id="main" class="white-frame">  
	<b>Search Tweets:</b>
    <input id="inputfield1"  />
    <button class="btn btn-primary" ng-click="MyCtrl">Search</button>
    <br><br>
<div ng-repeat="tweet in tweetlist">
<div class='time'>{{tweet.time | date:'yyyy-MM-dd HH:mm:ss Z'}}</div><p>{{tweet.msg}}</p></div>
</div>    
    &copy; 2016
</div>

<br clear="all"/> <p align="center">
    <div class="white-frame" id="tweets" ng-app ng-controller="PostsCtrlAjax"  style="align: center;overflow:auto;height:300px;width:800px">
<b>Recent Hadoop Tweets:</b>
<div ng-repeat="post in posts">
<div class='time'>{{post.createdAt | date:'yyyy-MM-dd HH:mm:ss Z'}}</div><p>{{post.text}}</p></div>
</div>
</p>
<script>
var myApp = angular.module('myApp',['ngAtp']);

function PostsCtrlAjax($scope, $http)
{
	$http({method: 'GET', url: '/timeline/hortonworks'}).success(function(data)
	{
		$scope.posts = data; // response data 
	});
}

function MyCtrl($scope, $http) 
{
	$http({method: 'GET', url: '/query/%QUERY'}).success(function(data)
	{
		$scope.tweetlist = data; // response data 
	});
}

document.getElementById('inputfield1').focus();
</script>
</body>
</html>